@font-face {
    font-family: 'proxSemiBold';
    src: url(../fonts/ProximaNova-Semibold.otf);
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url(../fonts/proximanova-extrabold.ttf);
}
@font-face {
    font-family: 'ProximaNova';
    src: url(../fonts/ProximaNova-Regular.otf);
}
/* ----------HEADER---------- */

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
	max-width: 1160px;
    margin: 0 auto;
	position: relative;
}

.header {
	background: #000;
	padding: 10px 0;
    width: 100%;
    z-index: 20000;
    min-height: 120px;
}

.container__header {
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__logo {
    float: left;
    color: white;
    font-family: 'ProximaNova';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
}

.header__nav-check {
    display: none;
}

.header__nav {
    display: none;
}

.navigation {
    position: relative;
}

.navigation ul {
    padding-left: 0;
}

.navigation li {
    display: inline-block;
}

.header__nav-container {
    float: right;
    padding: 23px 0;
    background: #000;
    position: relative;
}

.nav__list-item {
    display: inline-block;
}

.header__menu-link {
	float: left;
	color: white;
	font-family: 'ProximaNova';
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        color: #8bb9d3;
        outline: none;
    }
    &:focus {
        outline: none;
    }
}

.header__search {
	float: right;
    margin-left: 19%;
    & input {
        float: left;
        border: none;
        padding: 3px 0;
        padding-left: 5px;
        color: #6c6c6c;
        font-family: 'ProximaNova';
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        &:hover {
            outline: none;
        }
    }
    &-button {
        padding: 3px 15px;
        color: #fff;
        font-family: ProximaNova;
        font-size: 13px;
        font-weight: 400;
        line-height: 30px;
        text-transform: uppercase;
        float: right;
        border: none;
        cursor: pointer;
        &:before {
            content: url('../../src/img/search-icon.png');
            padding-right: 5px; 
            display: inline-block;
        }
        & p {
            margin: 0;
            float: right;
        }
    }
}

.header__cost {
    margin-left: 2%;
    color: white;
    font-family: 'ProximaNova';
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        content: url('../../src/img/shopping-icon.png');
        padding-right: 10px; 
    }
}
/* ----------END HEADER---------- */


/* ----------TOP SLIDER---------- */
.slider {
    padding: 0;
    padding-top: 120px;
}

.slider__info {
    width: 500px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -100px 0 0 -250px;
}

.slider__info button {
    float: right;
    border: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    font: 800 normal 14px 'ProximaNova';
}

.slider__info h1 {
    text-transform: uppercase;
    font: 800 normal 80px 'ProximaNovaBold'
    ;
    margin-bottom: 55px;
}

.slider .carousel-inner .first-slide h1 {
    color: #fff;
}

.slider .carousel-inner .second-slide h1 {
    color: #000;
}

/* ----------END TOP SLIDER---------- */


/* ----------SECTION WITH SNOWBOARDS---------- */

.snowboards__title {
    color: black;
    font-family: 'ProximaNovaBold';
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.snowboards .center div {
    padding-top: 18px;
    padding-bottom: 18px;
}

.snowboards .center.slider img {
    margin-right: auto;
    margin-left: auto;
}

.snowboards .center {
    margin-bottom: 37px;
}

.snowboards .center .slick-slide {
    opacity: .3;
}

.snowboards .center .slick-slide.slick-current {
    opacity: 1;
    -webkit-transform: scale(1.08);
        -ms-transform: scale(1.08);
            transform: scale(1.08);
}

.snowboards .slick-prev {
    background: url(../../src/img/left.png) no-repeat;
    width: 122px;
    height: 227px;
}

.snowboards .slick-next {
    background: url(../../src/img/right.png) no-repeat;
    width: 122px;
    height: 227px;
}

.slick-prev:hover:before, .slick-prev:focus:before, .slick-next:hover:before, .slick-next:focus:before {
    opacity: 1;
}

.snowboards .slick-next::before,
.snowboards .slick-prev::before {
    content: '';
}


.slick-prev:hover, .slick-prev:focus {
    background: url(../../src/img/left.png) no-repeat;
}
    
.slick-next:hover, .slick-next:focus {
    background: url(../../src/img/right.png) no-repeat;
}

.snowboards__subtitle {
    color: black;
    font-family: 'ProximaNova';
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8%;
}

/* ----------END SECTION WITH SNOWBOARDS---------- */

/* ----------SECTION COMPANY---------- */

.company {
    background: url('../../src/img/company-bg.jpg') no-repeat;
    padding: 17.7% 0;
    background-size: cover;
    &:hover {
        filter: grayscale(100%);
    }
}

.wrapper__company {
    width: 53%;
    float: left;
}

.company__title {
    color: white;
    font-family: 'ProximaNovaBold';
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase;
}

.company__content {
    color: white;
    font-family: "Myriad Pro", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

/* ----------END SECTION COMPANY---------- */

/* ----------SECTION FEATURES---------- */

.features {
    padding: 3.8% 0 11.2%;
}


.features__title {
    color: black;
    text-align: center;
    font-family: Helvetica;
    font-size: 48px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 0;
}

.features__gallery {
    text-align: center;
    border-top: 1px solid #050709;
    border-bottom: 1px solid #050709;
    padding: 3.5% 0;
}

.features__gallery-item {
    display: inline-block;
    padding-right: 1.5%;
    margin-bottom: 5%;
    text-align: left;
    font-family: 'ProximaNova';
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    & p {
        margin: 0;
    }
    & img:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        -ms-transform: scale(1.05);
        box-shadow: 0px -1px 8px 5px rgba(4, 4, 5, 0.4);
        -webkit-box-shadow: 0px -1px 8px 5px rgba(4, 4, 5, 0.4);
        -moz-box-shadow: 0px -1px 8px 5px rgba(4, 4, 5, 0.4);
        -o-box-shadow: 0px -1px 8px 5px rgba(4, 4, 5, 0.4);
        -ms-box-shadow: 0px -1px 8px 5px rgba(4, 4, 5, 0.4);
    }
}

/* ---------- END SECTION FEATURES ---------- */

/* ---------- FOOTER ---------- */

.footer {
    background-color: #000;
    padding: 5% 0;
}

.footer__info {
    margin-bottom: 3%;
}

.footer__item {
    float: left;
    margin-left: 11%;
}

.footer__item-first {
    margin-left: 0;
}

.footer__title {
    color: white;
    font-family: 'ProximaNovaBold';
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0;
}

.footer__list {
    padding: 0;
    margin-top: 10px;
}

.footer__list-item {
    list-style: none;
}

.footer__list-link {
    text-decoration: none;
    color: #c9c9c9;
    font-family: 'ProximaNova';
    font-size: 14px;
    font-weight: 400;
    line-height: 40px;
    &:hover {
        color: #fff;
        text-decoration: underline;
    }
}

.footer__search {
    margin-top: 25px;
    background: #fff;
    & input {
        float: left;
        border: none;
        padding: 10px 0;
        margin-left: 10px;
        color: #6c6c6c;
        font-family: 'ProximaNova';
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        &:hover {
            outline: none;
        }
    }
}

.footer__search-button {
    padding: 10px 12px;
    color: #010101;
    font-family: "ProximaNova";
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    float: right;
    border: none;
}

.footer__social {
    margin-top: 28%;
    text-align: center;
}

.footer__social-link {
    display: inline-block;
    background: url('../../src/img/sprite-social.png');
    width: 20px;
    height: 18px;
    margin-right: 8%;
}

.footer__copyright {
    float: left;
    color: white;
    font-family: 'ProximaNova';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
}

.footer__region {
    float: right;
    color: white;
    font-family: 'ProximaNova';
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
    cursor: pointer;
    &:before {
        content: url('../../src/img/icon-lamguage.jpg');
        padding-right: 15px;
    }
}

/* ---------- END FOOTER ---------- */

/* ---------- MEDIA QUERIES ---------- */

@media all and (max-width: 1024px) {
    .container {
        max-width: 991px;
    }

    .header__search {
        margin-left: 7%;
    }

    .footer__item {
        margin-left: 10%;
    }

    .footer__item-first {
        margin-left: 0;
    }
}

@media all and (max-width: 960px) {
    .container {
        max-width: 930px;
    }

    .header__search-button p {
        display: none;;
    }

    .footer__item {
        margin-left: 9%;
    }

    .header__search,
    .header__cost {
        display: none;
    }

    .header__nav {
        display: none;
    }

    .header__nav {
        display: inline-block;
    }

    // Burger menu button
    $header__nav--thickness: 4px;
    .header__nav {
        $width: 28px;
        margin-left: 5%;
        display: inline-block;
        border: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;

        border-bottom: $header__nav--thickness solid #fff;
        width: $width;

        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out; 

        // Fix for extra space in Firefox
        &::-moz-focus-inner {
            border: 0;
            padding: 0;
        }    

        &:before {
            content: "";
            display: block;
            border-bottom: $header__nav--thickness solid #fff;
            width: 100%;
            margin-bottom: 5px;
            transition: transform 0.5s ease-in-out;    
            -webkit-transition: -webkit-transform 0.5s ease-in-out;        
        }

        &:after {
            content: "";
            display: block;
            border-bottom: $header__nav--thickness solid #fff;
            width: 100%;
            margin-bottom: 5px;
            transition: transform 0.5s ease-in-out;
            -webkit-transition: -webkit-transform 0.5s ease-in-out;
        }
    }

    .header__nav-check {
      display: none;
    }

    .header__nav-check:checked ~ .header__nav {
      border-bottom: $header__nav--thickness solid transparent;
      transition: border-bottom 0.8s ease-in-out;
      -webkit-transition: border-bottom 0.8s ease-in-out;

      &:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);      
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }

      &:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px); 
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);       
        transition: transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
      }
    }

    // * * * Navigation * * *
    $navigation__transition: max-height 0.5s ease-in-out;

    .navigation {
        overflow: hidden;
        max-height: 0;
        position: absolute;
        background: #000;
        padding: 0% 1%;
        width: 100%;
        transition: $navigation__transition;
        z-index: 1;
    }

    .header__nav-check:checked ~ .navigation {
        max-height: 500px;
        transition: $navigation__transition;
    }

    .navigation ul {
        margin: 0;
        padding: 0;
    }

    .navigation li {
        list-style: none;
        font-size: 25px;
        padding: 5px 0;
        display: block;
    }
      
    .navigation  a {
        text-decoration: none;
        color: #fff;
        padding-left: 5%;
        float: none;
        &:hover {
          text-decoration: underline;
        }    
      }

    .header__nav-container {
        float: right;
        padding: 23px 0%;
        width: 25%;
        background: #000;
        position: relative;
    }

    .footer__item,
    .footer__item-first {
        margin-left: 8%;
        padding: 0 3%;
        display: inline-block;
        vertical-align: top;
        width: 35%;
    }
}

@media all and (max-width: 768px) {
    .container {
        max-width: 740px;
    }

    
    .slider__info {
        width: 252px;
        margin-left: -126px;
    }

    .slider__info h1 {
        font-size: 40px;
    }

    .footer__item,
    .footer__item-first {
        margin-left: 8%;
        padding: 0 3%;
        display: inline-block;
        vertical-align: top;
        width: 35%;
    }

    .footer__search-button {
        padding: 5px;
    }

    .footer__search input {
        padding: 5px 0;
        line-height: 20px;
        width: 71%;
    }

    .footer__social-link {
        margin-right: 5%;
    }

    .footer__copyright {
        padding: 0 10%;
    }

    .wrapper__company {
        padding-left: 7%;
        width: 80%;
    }


    .footer__region {
        padding: 0 5%;
    }

}

@media all and (max-width: 519px) {

    .wrapper__company {
        width: 80%;
    }

    .snowboards__title,
    .company__title,
    .features__title {
        font-size: 28px;
    }

    .snowboards__subtitle {
        font-size: 16px;
    }

    .features__gallery-item {
        display: block;
        text-align: center;
    }

    .footer__item,
    .footer__copyright,
    .footer__region {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .footer__copyright,
    .footer__region {
        padding: 0;
    }

    .footer__search {
        width: 80%;
        margin: 0 auto;
    }

    .footer__social {
        margin: 7% 0;
    }
}

/* ---------- END MEDIA QUERIES ---------- */